<launch>
  <param name="robot/name" value="kingfisher"/>
  <param name="robot/type" value="kingfisher"/>
  <node pkg="app_manager" type="appmaster" name="appmaster" args="-p 11312"/>

  <node pkg="app_manager" type="app_manager" name="app_manager" args="--applist $(find kingfisher_bringup)/apps" output="screen">
        <param name="interface_master" value="http://localhost:11313"/>
  </node>
</launch>
