<launch>
  <!-- Comm with chassis -->
  <node pkg="rosserial_python" type="serial_node.py" name="rosserial" args="/dev/arduino" />

  <!-- Camera -->
  <include file="$(find kingfisher_bringup)/camera.launch"/>

  <!-- App manager -->
  <include file="$(find kingfisher_bringup)/app_manager.launch"/>
</launch>
