<launch>
  <!-- GPS serial comms -->
  <group ns="gps">
    <node pkg="nmea_comms" type="nmea_serial_node" name="serial_node" output="screen">
      <param name="port" value="/dev/ttyACM0" />
    </node>

    <!-- interpretation -->
    <node pkg="nmea_gps_driver" type="nmea_driver.py" name="nmea_topic_driver" />

    <!-- ENU translation -->
    <node pkg="enu" type="enu_publisher.py" name="enu_publisher" />
  </group>

  <!-- IMU serial comms -->
  <node pkg="imu_um6" type="imu_um6_node.py" name="imu_um6_node" output="screen" respawn="true">
    <param name="port" type="string" value="/dev/ttyUSB0"/>
  </node>

  <include file="$(find kingfisher_nmea)/launch/nmea_if.launch" />
</launch>
