<launch>
  <!-- GPS serial comms -->
  <group ns="navsat">
    <node pkg="nmea_comms" type="serial_node" name="nmea_serial_node">
      <param name="port" value="$(optenv KINGFISHER_NAVSAT_PORT /dev/clearpath/gps)" />
      <param name="baud" value="$(optenv KINGFISHER_NAVSAT_BAUD 115200)" />
    </node>
   
    <!-- GPS NMEA socket -->
    <node pkg="nmea_comms" type="socket_node" name="nmea_socket_node"
          if="$(optenv KINGFISHER_NAVSAT_SOCKET false)">
      <param name="port" value="$(optenv KINGFISHER_NAVSAT_SOCKET_PORT 2525)"/>
      <remap from="tx" to="rx" />
      <!--remap from="nmea_sentence_out" to="socket_out" -->
    </node>

    <!-- RTCM serial stream -->
    <node pkg="kingfisher_bringup" type="netserial" name="netserial_rtcm"
          if="$(optenv KINGFISHER_NAVSAT_RTCM false)"
          args="2524 /dev/clearpath/rtcm 115200" respawn="true">
    </node>

    <!-- interpretation -->
    <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="nmea_topic_driver">
      <remap from="nmea_sentence" to="rx" />
    </node>

    <!-- ENU translation -->
    <node pkg="enu" type="from_fix" name="enu_from_fix">
      <param name="invalid_covariance_value" value="1000000" />
      <param name="lock_altitude" value="0" />
      <param name="scale_covariance" value="0.05" />
    </node>
  </group>
</launch>
