<launch>
  <!-- Port splitter -->
  <node pkg="kingfisher_bringup" type="vserial" name="sonar_splitter"
        args="--service serial:/dev/sonar,9600
              --client /tmp/sonar_ros /tmp/sonar_user" respawn="true" />

  <!-- Start NMEA sonar driver -->
  <!-- <node ns="gps" pkg="nmea_gps_driver" type="nmea_gps_driver.py" name="nmea_gps" respawn="true">
    <param name="port" value="/tmp/ublox_ros" />
    <param name="baud" value="9600" />
    <param name="useRMC" value="true" />
  </node> -->
</launch>
