<launch>
  <!-- Location of IMU relative to boat datum. This will be removed in favour of using the URDF model. -->
  <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="0 -0.089 -0.494 0 0 3.14 base_link imu_link 100" />

  <node pkg="um6" type="um6_driver" name="um6_driver">
    <param name="port" value="/dev/clearpath/imu"/>

    <!-- Deliver an intertial-only IMU message. We incorporate the magnetometer
         separately, using the imu_compass node below. -->
    <param name="mag_updates" value="false" />
  </node>

  <node pkg="imu_compass" type="imu_compass" name="imu_compass" respawn="true">
    <rosparam file="/etc/ros/$(env ROS_DISTRO)/imu_compass.yaml" />
  </node>

  <node pkg="declination" type="compute" name="declination_compute" ns="imu">
    <remap from="fix" to="/navsat/fix" />
  </node>
</launch>
