<launch>
  <param name="/camera/image_color/compressed/jpeg_quality" value="60"/>

  <!-- nodelet manager process -->
  <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager"
        args="manager" />

  <!-- camera driver nodelet -->
  <node pkg="nodelet" type="nodelet" name="camera1394_nodelet"
        args="load camera1394/driver camera_nodelet_manager">
        <rosparam file="$(find kingfisher_bringup)/config/ffmv.yaml" />
  </node>

  <!-- decimate -->
  <node pkg="nodelet" type="nodelet" name="image_proc_rectify"
        args="load image_proc/crop_decimate camera_nodelet_manager">
    <remap from="camera_out/image_raw" to="camera/image_dec" />
    <param name="decimation_x" value="2"/>
    <param name="decimation_y" value="2"/>
  </node>
    
  <!-- dewarp (broken) -->
<!--
  <node pkg="nodelet" type="nodelet" name="image_proc_rectify"
        args="load image_proc/rectify camera_nodelet_manager">
    <remap from="image_mono" to="camera/image_raw" />
    <remap from="image_rect" to="camera/image_rect" />
  </node>
-->

  <!-- Bayer color decoding -->
  <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
        args="load image_proc/debayer camera_nodelet_manager">
    <param name="bayer_pattern" value="gbrg" />
    <param name="bayer_method" value="" />
    <remap from="image_color" to="camera/image_color" />
    <remap from="image_mono" to="camera/image_mono" />
    <remap from="image_raw" to="camera/image_dec" />
  </node>
</launch>
